html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1.5rem;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  text-align: center;
}

h2 {
  display: inline-block;
}

p {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #333;
}
.btn {
  border: 1px solid #333;
  border-radius: 8px;
  padding: .4em .75em .5em;
}

.btn:hover {
  color: #fff;
  background-color: #666;
}
