html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  display: inline-block;
  padding: 2em 0;
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.img-box {
  display: inline-block;
  max-width: 25em;
}

.body-copy {
  max-width: 25em;
  text-align: left;
  display: inline-block;
}

.img-box,
.body-copy {
  padding: 1em 1em 0;
}

.btn {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 8px;
  padding: .75em;
  text-decoration: none;
  color: #333;
  text-align: center;
}

.btn:hover {
  color: #fff;
  background-color: #666;
}
