html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Lato, sans-serif;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  display: inline-block;
  margin: 1.5rem;
}

img {
  display: block;
  width: 100%;
}

.img-box {
  display: inline-block;
  max-width: 25em;
}

.body-copy {
  max-width: 25em;
  text-align: left;
  display: inline-block;
  background-color: green;
}

a {
  text-decoration: none;
  color: #333;
}

.btn {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 8px;
  padding: .4em .75em .5em;
}

.btn:hover {
  color: #fff;
  background-color: #666;
}
